*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #FDF1E6;
}


.header {
    padding-left: 112px;
    margin-left: -112px;
    height: 70px;
    width: 1423px;
    /* background-color: black; */
}

main{
    width: 100%;
    /* background-color: #FDF1E6; */
}


.icon{
    width: 300px;
    float: left;
    height: 70px;
}

.logo{
    color: #35747E;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menuu {
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #35747E;
}


.wrapper{
    display: grid;
    margin-left: 550px;
    margin-top: 80px;
    margin-bottom: 10px;
    width: 400px;
    height: 450px;
    border: 1px solid transapernt;
    background-color: #FDF1E6;
   
}

.wrapper .title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;

}

.wrapper form{
    margin-top: -40px;
}

.wrapper form .row{
    position: relative;
    width: 400px;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid #7f7974;
}

.wrapper form .row input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.row {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
}


.wrapper form .btn{
    width: 400px;;
    height: 45px;;
    background-color: #35747E;
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #35747E;
    
}

.wrapper form .btn a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #35747E;
    
}


.wrapper form .pass a{
    text-decoration: none;
    color: black;
    
}

.wrapper form .SignUp-link {
    height: 45px;
    width: 190px;
    margin-left: 32px;
    background-color: transparent;
    border: 2px solid #35747E;
}




.wrapper form .SignUp-link a{
    text-decoration: none;
    color: #35747E;
    font-size: 18px;
    font-weight: bold;
    

}


.wrapper form .question a{
    text-decoration: none;
    font-weight: bold;
    color: #35747E;
}



.end{
    height: 150px;
    background-color: #35747E;
}

.contacts{
    
    background-color: #35747E;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 20px;
   
   
}

.copyright{
    background-color: #35747E;
    font-size: 15px;
    padding-left: 80px;
    padding-top:90px;
    color: white;

}

.subscribe{
    background-color: #35747E;
    color: white;
    font-size: 20px;
    padding-left: 1000px;
    margin-top: -130px;

}

.email{
    background-color: #35747E;
    width: 300px;
    height: 50px;
    margin-left: 1000px;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #454B5D;
    border-radius: 10px;
    background-color:#454B5D;
    color: white;

}

.email:hover{
    border-color: white;
}


.icons{
    background-color: #35747E;
    font-size: 30px;
    color: #35747E;
    letter-spacing: 4px;
    margin-left: 50px;
    margin-top: -90px;
    width: 200px;
}

.icons a{
    background-color: #35747E;
    
}